/*Code pour la Page 1 home*/
/* 1. Barre annonce du moment */
.top-bar {
    background-color: rgb(255, 235, 80);
    color: black;
    text-align: center;
    padding: 5px;
    font-size: medium;
    font-weight: bold;
    font-family: "Noto Sans", sans-serif
}

/*Barre principale en haut, header*/
.header-main {
    display: flex; /* aligne à l'horizontale les éléments de la div */
    justify-content: space-between; /* ecarte les éléments aux extrémités */
    align-items: center; /* aligne en verticale */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: rgba(255, 255, 255, 0.927);
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: black;
}

/*Code CSS du bloc principal*/
.bloc-principal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 25px; 
    padding-right: 25px;
    background-color: aliceblue;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: black;
}

.bloc-secondaire {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 25px; 
    padding-right: 25px;
    background-color:  rgba(255, 255, 255, 0.927);
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: black;
}

.bloc-tertiaire {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 25px; 
    padding-right: 25px;
    background-color:  rgba(255, 255, 255, 0.927);
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: black;
}

.resume-quasar {
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px; 
    padding-right: 25px;
    background-color:  rgba(255, 255, 255, 0.927);
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: black;
}

.fin-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 25px; 
    padding-right: 25px;
    background-color: rgb(112, 205, 255);
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: black;
}

/*Taille des images sur le site*/
.logo img {height: 100px; width: auto;}
.recherche img {height: 50px; width: auto;}
.boutons-user img {height: 50px; width: auto;}
.bloc-principal img {height: 250px;width: auto;}
.bloc-secondaire img {height: 50px; width: auto;}
.bloc-tertiaire img {height: 250px; width:auto}
