/*Code pour la Page 1 home*/

/* 1. Barre annonce du moment */
.top-bar {
    background-color: rgb(255, 235, 80);
    color: black;
    text-align: center;
    padding: 5px;
    font-size: medium;
    font-weight: bold;
    font-family: "Segoe UI", sans-serif;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    font-family: 'Segoe UI', sans-serif !important;
}



/*Barre principale en haut, header*/
.header-main {
    display: flex; /* aligne à l'horizontale les éléments de la div */
    justify-content: space-between; /* ecarte les éléments aux extrémités */
    align-items: center; /* aligne en verticale */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    background-color:white;
}

/*barre de recherche*/ 
.recherche {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: 5px solid rgb(37, 0, 117);
    border-radius: 20px;
}

.recherche form {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

/*barre de recherche avec icone*/ 
.recherche input {
    border: none;      
    outline: none; /*enleve le trait bleu du link*/
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    width: 500px;
    background: transparent;
}

.recherche button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Code pour la partie header, logo et boutons user*/
/*Boutons users*/
.boutons-user {
    display: flex;        
    align-items: center;   
    gap: 30px;             
}

/* Le style de chaque lien (Le texte + l'icône) */
.boutons-user a {
    display: flex;         
    align-items: center;   
    gap: 12px;           
    text-decoration: none; 
    color: black;          
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;      
    font-size: 16px;       
}

.barre-outils {
    display: flex;             
    justify-content: space-between; 
    align-items: center;        
    padding: 10px 25px;         
    background-color: white;    
}

/*Menu navigation*/
.menu-principal {
    display: flex;            
    justify-content:flex-start;
    flex-wrap: wrap; 
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;      
    font-size: 16px; 
    gap: 0px;             
    background-color: white;  
    border: 3px solid rgb(37, 0, 117);
    border-radius: 3px;
    cursor: pointer;
}

.menu-principal a {
    display: inline-block;
    padding-top : 8px; 
	padding-bottom :8px;        
	padding-left: 10px;
	padding-right: 10px;
    border-radius:0px;
    background-color:rgb(181, 220, 255);
    border: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: "Noto Sans", sans-serif;
    font-weight: 600; 
    font-size: 16px;
    cursor: pointer;
}

/* Boutons filtres */
.btn-filtre1 {
    text-decoration: none;
    padding: 8px 20px;
    background-color: #FF9F43;
    color: rgb(0, 0, 0);
    border: 3px solid rgb(37, 0, 117);
    border-radius: 3px;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
 cursor: pointer;
}

.btn-filtre2 {
    text-decoration: none;
    padding: 8px 20px;
    background-color: rgb(37, 0, 117);
    color: white;
    font-weight: bold;
    border: 3px solid rgb(37, 0, 117);
    border-radius: 3px;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    cursor: pointer;
}


/*Code CSS du bloc principal*/
.bloc-principal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px; 
    padding-right: 25px;
    background-color:white;
    gap: 40px; 
}

/*Partie ventes*/
.meilleures-ventes { 
    width: 63%;
    background-color: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    padding: 10px;
    border-radius: 10px;
}

.meilleures-ventes h2 {
    font-family: 'Noto Sans', sans-serif; 
    color: rgb(37, 0, 117);
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.affiches-ventes {
    display: flex;           
    justify-content: space-around; 
    gap: 20px;             
    flex-wrap: wrap;           
    margin-bottom: 30px;     
    align-items: center; 
}

.meilleures-ventes img {
    border-radius: 5px;
}

.produit {
    text-align: center;        
    width: 30%;                
}

.produit a {
    text-decoration: none;     
    color: rgb(54, 0, 99);
    display: block;         
    cursor: pointer;	
}

.produit h3 {
    font-size: 16px;
    margin-top: 10px;
    font-family: 'Noto Sans', sans-serif;
    font-style: italic;
}


/* Bouton découvrir */
.decouvrir {
    display: block; 
	width: fit-content; 
    margin: 0 auto;
    margin-bottom: 30px;
    text-decoration: none;
    padding: 8px 20px;
    background-color: #FF9F43;
    color: black;
    font-weight: bold;
    border: none;
    border-radius:10px;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    cursor: pointer;
}


/* Actualités */
.actualites {
    width: 30%;
    background-color: aliceblue;
    padding: 20px 23px;           
    border-radius: 15px;     
    height: fit-content; 
}

.actualites h2 {
    font-family: 'Noto Sans', sans-serif; 
    color: rgb(37, 0, 117);
    border-bottom: 2px solid rgb(237, 107, 26); 
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.liste-news {
    display: flex;
    flex-direction: column;   
    gap: 5px;      
}

.news {
    padding-bottom: 3px;
}

.news h3 {
    font-size: 16px;
    color: rgb(33, 25, 255);
    text-align: left;
    margin: 0 0 0 0;
}

.news a {
    text-decoration: underline;
    color: rgb(33, 25, 255);
}

.news p {
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-align: justify;           
}

.source {
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin-top: 2px;
    margin-bottom: 4px;
    font-weight: bold;
    text-align: left;  
    font-style: italic;       
}


.bloc-secondaire {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px; 
    padding-right: 25px;   
    background-color: aliceblue;
    gap: 40px;
}


/*Sections visitées*/
.sections-visitees {
    width: 63%;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.sections-visitees h2 {
    font-family: 'Noto Sans', sans-serif;
    color: rgb(37, 0, 117);
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
}

/*3 icônes */
.liste-icones {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-wrap: wrap;  
    margin-bottom: 10px; 
}

/* Chaque lien */
.lien-section {
    display: flex;
    flex-direction: column;   
    align-items: center;     
    text-decoration: none;    
    width: 120px;           
}

.lien-section img {
    height: 80px;            
    width: auto;
    margin-bottom: 5px;    
}

.lien-section p {
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;        /* Gras demandé */
    color: black;
    margin: 0;
    font-size: 16px;
}

/* Promos */
.promotions {
    width: 31%;      
    background-color: rgb(37, 0, 117);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 15px;      
    text-align: center;
    align-self: flex-start;
}

.promotions h2 {
   font-family: 'Noto Sans', sans-serif;
    color: rgb(254, 247, 38);
    margin-top: 0;
    margin-bottom: 6px;
    text-align: center;
}

/* Les Boutons Promos */
.btn-promo {
    display: block;         
    background-color: rgb(254, 247, 38); 
    color: black;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
    margin: 10px auto;
    width: 70%;
    border: none;
    border-radius: 8px;
}

.btn-promo p {
    margin: 0;    
}

.bloc-tertiaire {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px; 
    padding-right: 25px;
    background-color:rgba(255, 255, 255, 0.927);
    gap: 40px;
}

/*Immanquables*/
.immanquables {
    width: 63%;               
    text-align: center;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.immanquables h2 {
    font-family: 'Noto Sans', sans-serif;
    color: rgb(37, 0, 117);
    margin-top: 0;  
    margin-bottom: 10px;   
    padding-bottom: 5px;
}

.affiches-immanquables {
    display: flex;             
    justify-content: space-around; 
    flex-wrap: wrap;           
    align-items: flex-end;    
}

.art-immanquables img {
    height: 180px;             
    width: auto;              
    border-radius: 5px;       
}

/* Petits prix */
.petits-prix {
    width: 31%;              
    text-align: center;       
    background-color: rgb(37, 0, 117);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 15px;
}

.petits-prix h2 {
    color: #FF9F43;
    margin-top: 0;
    margin-bottom: 6px;
    font-family: 'Noto Sans', sans-serif;
}

.btn-petits-prix {
    display: block;         
    text-decoration: none;

    background-color: #FF9F43; 
    color: black;           
    border: none;
    
    padding: 5px;
    border-radius: 10px;     
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;      
    font-size: 18px;  
    margin: 10px auto;
    width: 70%;

}

.btn-petits-prix p {
    margin: 0;
}

.resume-quasar {
    padding-top:5px;
    padding-bottom: 10px;
    padding-left: 25px; 
    padding-right: 25px;
    background-color:white;
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    color: darkblue;
    text-align: left;
    font-weight: 400;
}

.resume-quasar p {font-style: italic; text-align: justify;color:black;}

/*Fin de page*/
.fin-page {
    display: flex;            
    justify-content: space-around; 
    align-items: flex-start;   
    padding: 10px 25px;      
    background-color: white;
    color: black;
    font-family: "Noto Sans", sans-serif;
}

/* Par colonne */
.colonne-footer {
    display: flex;             
    flex-direction: column;    
    gap: 5px;                
    width: 200px;          
}

.colonne-footer h3 {
    margin-top: 0;           
    margin-bottom: 10px;
    font-family: 'Noto Serif', sans-serif;
    font-size: 18px;
    border-bottom: 2px solid black; 
    padding-bottom: 5px;
    display: inline-block;
    width: fit-content;
}

.lien-fin {
    text-decoration: none;     
    color: black;             
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
}

.copyright {
    text-align: center;       
    background-color: rgb(37, 0, 117);
    color: white;             
    padding:5px;
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    margin: 0;                 
}

.copyright p {
    margin: 0;           
}

/*Taille des images sur le site*/
.logo img {height: 100px; width: auto; display: block;}
.recherche img {height: 40px; width: auto;}
.boutons-user img {height: 50px; width: auto;}
.bloc-principal img {height: 250px;width: auto;}
.bloc-secondaire img {height: 80px; width: auto;}
.bloc-tertiaire img {height: 250px; width: auto;}
