/*Code pour la Page 1 home*/

/* 1. Barre annonce du moment */
.top-bar {
    background-color: rgb(255, 235, 80);
    color: black;
    text-align: center;
    padding: 5px;
    font-size: medium;
    font-weight: bold;
    font-family: "Noto Sans", sans-serif;
}


body {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: black;
    margin: 0; 
}


/*Barre principale en haut, header*/
.header-main {
    display: flex; /* aligne à l'horizontale les éléments de la div */
    justify-content: space-between; /* ecarte les éléments aux extrémités */
    align-items: center; /* aligne en verticale */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    background-color:white;
}

/*barre de recherche*/ 
.recherche {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: 5px solid rgb(37, 0, 117);
    border-radius: 20px;
}

.recherche form {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

/*barre de recherche avec icone*/ 
.recherche input {
    border: none;      
    outline: none; /*enleve le trait bleu du link*/
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    width: 500px;
    background: transparent;
}

.recherche button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Code pour la partie header, logo et boutons user*/
/*Boutons users*/
.boutons-user {
    display: flex;        
    align-items: center;   
    gap: 30px;             
}

/* Le style de chaque lien (Le texte + l'icône) */
.boutons-user a {
    display: flex;         
    align-items: center;   
    gap: 12px;           
    text-decoration: none; 
    color: black;          
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;      
    font-size: 16px;       
}

/*Code CSS du bloc principal*/
.bloc-principal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 25px; 
    padding-right: 25px;
    background-color:aliceblue;
}

.bloc-secondaire {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 25px; 
    padding-right: 25px;    background-color:rgba(255, 255, 255, 0.927);
}

.bloc-tertiaire {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 25px; 
    padding-right: 25px;
    background-color:rgba(255, 255, 255, 0.927);
}

.resume-quasar {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px; 
    padding-right: 25px;
    background-color:rgba(255, 255, 255, 0.927);
}

.fin-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 25px; 
    padding-right: 25px;
    background-color:rgb(112, 205, 255);
}

/*Taille des images sur le site*/
.logo img {height: 100px; width: auto; display: block;}
.recherche img {height: 40px; width: auto;}
.boutons-user img {height: 50px; width: auto;}
.bloc-principal img {height: 250px;width: auto;}
.bloc-secondaire img {height: 50px; width: auto;}
.bloc-tertiaire img {height: 250px; width:auto}
