/*Code pour la Page 1 home*/
/* 1. Barre annonce du moment */
.top-bar {
    background-color: rgb(255, 235, 80);
    color: black;
    text-align: center;
    padding: 5px;
    font-size: medium;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*Barre principale en haut, header*/
.header-main {
    display: flex; /* aligne à l'horizontale les éléments de la div */
    justify-content: space-between; /* ecarte les éléments aux extrémités */
    align-items: center; /* aligne en verticale */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: white;
}

/*Taille des images sur le site*/
.logo img {height: 100px; width: auto;}
.recherche img {height: 50px; width: auto;}
.boutons-user img {height: 50px; width: auto;}
.bloc-principal img {height: 250px;width: auto;}
.bloc-secondaire img {height: 50px; width: auto;}
.bloc-tertiaire img {height: 250px; width:auto}