/*Code pour la Page 1 Home*/

/*faire disparaitre le symbole*/
#menu-toggle {
    display: none;
}

.bouton-menu {
    display: block;
    font-size: 35px;
    cursor: pointer;
    color: rgb(37, 0, 117);
    margin-right: 15px;
}

/*cache le menu*/
.barre-outils {
    display: none; 
}

/*Si la case est cochée, on affiche la barre outils */
#menu-toggle:checked ~ .barre-outils {
    display: flex; 
    flex-direction: column; 
    width: 100%;
}

/* Style des liens*/
.menu-principal {
    flex-direction: column;
    width: 100%;
}

.menu-principal a {
    display: block;
    padding: 15px;
    border-bottom: 1px solid #eee;
    width: 100%;
    box-sizing: border-box; 
}

/*Partie haute du site*/

.header-main {
    flex-wrap: wrap;      
    padding: 10px 15px;   
    gap: 10px;          
}

.recherche {
    order: 3;              /*DERNIÈRE position*/
    width: 100%;          
    margin-top: 5px;       
    box-sizing: border-box; 
    padding: 5px 10px;      
    border-width: 3px;  
}

.recherche form {width: 100%;}

.recherche input {
    width: 100%;          
    font-size: 16px; 
}

/*Filtres*/

.filtres {
    display: flex;       
    width: 100%;         
    padding: 15px 10px;    
    gap: 10px;            
    box-sizing: border-box;
    justify-content: space-between;
}


.btn-filtre1,.btn-filtre2 {
    flex: 1;               
    text-align: center;    
    padding: 10px 5px;    
    font-size: 13px;      
    white-space: nowrap; 
}

/*body du site*/

.bloc-principal {
    flex-direction: column; /*affiche les ventes au dessus d'actualités*/
    padding: 10px;          
    gap: 30px;
}


.meilleures-ventes, .actualites {width: 100%;}

/*effet carrousel*/

.affiches-ventes {
    display: flex;          
    flex-wrap: nowrap;      
    overflow-x: auto;       /*SCROLL horizontal*/
    gap: 20px;              /* espace entrelivres*/
    padding-bottom: 15px;   /*barre de défilement*/
}

.produit {min-width: 180px; /*largeur minimale*/}
.produit img {height: 150px; width: auto;}

.decouvrir {
    width: 100%;           
    box-sizing: border-box; 
    text-align: center;  
    margin: 20px 0;
}

.actualites {
    margin-top: 0;      
    box-shadow: none;     
    border: 1px solid #eee;
}