/*Code pour la Page 1 Home*/
/*Header page*/

h1 {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/*Header*/
.header-main {
    display: flex;
    flex-wrap: wrap;      
    align-items: center;
    padding: 5px;
    gap: 10px;
    box-sizing: border-box;
}

.bouton-menu {
    order: 1;
    flex: 0 0 auto;
    margin-right: auto;  
}

/*Logo*/
.logo {
    order: 2;
    flex: 1;            
    text-align: center;   
}

.logo img {
    height: 70px;         
    width: auto;
}

/*Boutons user*/
.boutons-user {
    order: 3;             
    width: 100%;         
    display: flex;      
    justify-content: space-around;
    gap: 30px;        
    padding: 10px;      
    background-color: aliceblue;
    box-sizing: border-box;
}

.boutons-user a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 14px;
    width: 100%;
}

.boutons-user img {
    height: 40px;         
    width: auto;
    margin-left: 10px;
}

/*Recherche*/
.recherche {
    order: 4;              /* Tout en bas */
    width: 100%;
    margin-top: 0;
}

/*faire disparaitre le symbole*/
#menu-toggle {
    display: none;
}

.bouton-menu {
    display: block;
    font-size: 35px;
    cursor: pointer;
    color: rgb(37, 0, 117);
    margin-right: 15px;
}

/*cache le menu*/
.barre-outils {
    display: none;
    box-sizing: border-box;
}

/*Si la case est cochée, on affiche la barre outils */
#menu-toggle:checked ~ .barre-outils {
    display: flex; 
    flex-direction: column; 
    width: 100%;
}

/* Style des liens*/
.menu-principal {
    flex-direction: column;
    width: 100%;
}

.menu-principal a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #eee;
    width: 100%;
    box-sizing: border-box; 
}

/*Partie haute du site*/
.header-main {
    flex-wrap: wrap;      
    padding: 10px;   
    gap: 10px;          
}

.recherche {
    order: 3;              /*DERNIÈRE position*/
    width: 100%;          
    margin-top: 5px;       
    box-sizing: border-box; 
    padding: 5px 10px;      
    border-width: 3px;  
}

.recherche form {width: 100%;}

.recherche input {
    width: 100%;          
    font-size: 16px;
    box-sizing: border-box;
}

/*Filtres*/
.filtres {
    display: flex;       
    width: 100%;         
    padding: 15px 10px;    
    gap: 10px;            
    box-sizing: border-box;
    justify-content: space-between;
}


.btn-filtre1,.btn-filtre2 {
    flex: 1;               
    text-align: center;    
    padding: 10px 5px;    
    font-size: 13px;      
    white-space: nowrap; 
}

/*Body du site*/
.bloc-principal {
    flex-direction: column; /*affiche les ventes au dessus d'actualités*/
    padding: 10px;          
    gap: 5px;
    margin-top: 0;
}

.meilleures-ventes {
    width: 100%;
    background-color: #f5f5f5;
    padding: 5px;
    border-radius: 2px;
    box-shadow: none;
    box-sizing: border-box;
    overflow: hidden;
}

.actualites {width: 100%; box-shadow: none;}

/*Effet carrousel*/
.affiches-ventes {
    display: flex;          
    flex-wrap: nowrap;      
    overflow-x: auto;       /*SCROLL horizontal*/
    gap: 20px;              /* espace entrelivres*/
    padding-bottom: 25px;   /*barre de défilement*/
    margin: 0 -5px;
    padding-left: 5px;
    padding-right: 5px;
}

.produit {
    min-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.produit a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 250px;
    justify-content: flex-start;
}
.produit h3 {
    margin: 5px 0 0 0;
    padding: 0;
}
.produit img {
    height: 220px;
    width: auto;
    object-fit: contain;
}

.decouvrir {
    width: 100%;           
    box-sizing: border-box; 
    text-align: center;  
    margin: 10px 0;
}

/*Actualités*/
.actualites {
    width: 100%;          
    box-sizing: border-box; 
    margin-top: 10px;    
    padding: 10px;
    border-radius: 2px;
}

.actualites h2 {font-size: 22px; }


.liste-news {gap: 5px;}

.news {
    /*séparer les news*/
    border-bottom: 1px solid rgba(0,0,0,0.1); 
    padding-bottom: 8px;
    margin-bottom: 5px;
}

.news:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.news h3 {
    font-size: 18px; 
    line-height: 1.3;
}

.news p {
    text-align: left;
    line-height: 1.5; 
}

.news a {
    display: block;   
    padding: 5px 0;  
}

/*Bloc secondaire*/
.bloc-secondaire {
    flex-direction: column;  
    padding: 10px;        
    gap: 20px;
    background: none;
}

/*Sections visitées*/
.sections-visitees {
    width: 100%;              
    box-sizing: border-box;
    box-shadow: none;
    background-color: #f5f5f5;
    border-radius: 2px;
}

.liste-icones {
    justify-content: space-around;
    padding-bottom: 5px;
}

.lien-section {
    width: auto;           
    flex: 1;              
    max-width: 100px;    
}


.sections-visitees img {   
    height: 60px;           
    width: auto;          
    margin-bottom: 5px;
}

.lien-section p {
    font-size: 14px;   
}

/*Promotions*/
.promotions {
    width: 100%;     
    box-sizing: border-box; 
    align-self: auto;
    border-radius: 2px;
}

.promotions h2 {font-size: 24px;}

.btn-promo {
    width: 80%;           
    padding: 12px 5px;     
    font-size: 18px;        
    margin-left: auto;
    margin-right: auto;
}

/*Bloc tertiaire */
.bloc-tertiaire {
    flex-direction: column;    /* On empile tout verticalement */
    padding: 10px;        /* On réduit les marges */
    gap: 5px;                 /* Espace entre les deux blocs */
}

/*Immanquables*/
.immanquables {
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 2px;
}

/*Carroussel*/
.affiches-immanquables {
    display: flex;             
    flex-wrap: nowrap;    
    overflow-x: auto;         
    justify-content: flex-start; 
    gap: 15px;               
    padding-bottom: 15px;    
}

/*Livres*/
.art-immanquables {flex: 0 0 auto;}

.art-immanquables img {
    height: 180px;         
    width: auto;          
}

/*Petits prix*/
.petits-prix {
    width: 100%;            
    box-sizing: border-box; 
    margin-top: 10px;
    border-radius: 2px;
}

.petits-prix h2 {font-size: 22px;}

.btn-petits-prix {
    width: 80%;           
    padding: 12px 0;       
    font-size: 18px;     
    margin: 10px auto;      
}

/*Resume*/
.resume-quasar {
    padding: 20px 30px;    
    margin: 10px 0;    
}

.resume-quasar h2 {
    font-size: 22px;     
}

.resume-quasar p {
    text-align: justify;  
    font-size: 14px;     
    line-height: 1.5; 
}

/*Fin de page*/
.fin-page {
    flex-direction: column; 
    align-items: center;    
    padding: 30px 15px;
    gap: 40px;               
    text-align: center;   
}

.colonne-footer {
    width: 100%;             
    align-items: center;       
    border-bottom: 1px solid rgba(255,255,255,0.1); 
    padding-bottom: 10px;   
}

.colonne-footer:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.colonne-footer h3 {
    font-size: 20px;        
    margin-bottom: 0px;
}

.lien-fin {
    display: block;            
    padding: 1px 0;           
    font-size: 16px;           
    width: 100%;           
}

/*Copyright*/
.copyright {
    padding: 15px;         
    font-size: 11px;   
}